<%- include("header") -%> 


<h2>This is the about page.</h2>

<p>A Todolist app which you can use to remind yourself about the task that you have to do during the day.</p>

<%- include("footer") -%> 
